/**
 * @Description: app.scss
 * @author: forguo
 * @date: 2020/7/17
*/

// 自定义主题
$color-brand: #ff4c91;

// 引入所需的组件样式 - 方式三
//【所有的样式文件】https://github.com/NervJS/taro-ui/tree/dev/src/style/components

page {
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}
Page {
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.placeholder-style {
    color: #CFCFCF;
}

/*
 * 修改weUi样式
 */
// loadMore
.weui-loadmore_line {
    border: none;
    margin-top: 1.5em;
}
.weui-loadmore__tips_in-line {
    background: transparent;
    top: 0;
}
